---
---

@import "{{ site.theme }}";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";


body {
    counter-reset: footnotecounter;
}

span.footnote:before {
  counter-increment: footnotecounter;
  content: counter(footnotecounter);
  position: relative;
  top: -0.4em;
}

span.footnote {
    color: #24B1E6;
}

.animation table {
    width: 100%;
}

.animation .btn {
    margin: 0px 10px 10px 0px;
}

.animation table tr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.animation tr.error {
    background-color: #fb7979;
}

.animation td.picked {
    background-color: #2ebf2e;
}

.anim-with-hash-table {
    display: flex;
}

.hash-table {
    margin: 0px 10px 0px 0px;
    max-width: fit-content;
}

.hash-table tr.hash-row > td:nth-child(2) {
  border-right: thick solid black;
}

.hash-row > td.frozen {
  background-color: lightgray;
  opacity: 0.5;
}

.hash-row > td.recent-frozen {
  background-color: gray;
  opacity: 0.7;
}


.hash-row > td.critical {
  border: red 2px dashed;
}

.anim-with-hash-table .main-table {
  flex-grow: 1;
}

.success, .failure {
  display: none;
  font-style: italic;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.desc-btn {
  cursor: pointer;
}

.description {
    display: none;
}

